#version 410 core

// equal_spacing
// fractional_odd_spacing
// fractional_even_spacing
layout(quads, equal_spacing , ccw) in;

uniform mat4 projection_matrix;

in vec3 norm[];

out vec3 normal;

struct Obj {
    vec3 position;
    vec3 rotation;
    vec3 scale;
    vec3 axis;
};

uniform Obj obj;

uniform float iTime;

mat4 rotateX(float angle)
{
    mat4 rotxMatrix = mat4(0.0);
    rotxMatrix[0][0]  = 1;
    rotxMatrix[1][1]  = cos(angle);
    rotxMatrix[2][1]  = -sin(angle);
    rotxMatrix[1][2]  = sin(angle);
    rotxMatrix[2][2]  = cos(angle);
    rotxMatrix[3][3]  = 1;

    return rotxMatrix;
}

mat4 rotateY(float angle)
{
    mat4 rotxMatrix = mat4(0.0);
    rotxMatrix[0][0]  = cos(angle);
    rotxMatrix[0][2]  = sin(angle);
    rotxMatrix[1][1]  = 1;
    rotxMatrix[2][0]  = -sin(angle);
    rotxMatrix[2][2]  = cos(angle);
    rotxMatrix[3][3]  = 1;

    return rotxMatrix;
}

mat4 rotateZ(float angle)
{
    mat4 rotxMatrix = mat4(0.0);
    rotxMatrix[0][0]  = cos(angle);;
    rotxMatrix[1][0]  = -sin(angle);
    rotxMatrix[0][1]  = sin(angle);
    rotxMatrix[1][1]  = cos(angle);
    rotxMatrix[2][2]  = 1;
    rotxMatrix[3][3]  = 1;

    return rotxMatrix;
}

mat4 translate(float x, float y, float z)
{
    return mat4(
        vec4(1.0, 0.0, 0.0, 0.0 ),
        vec4(0.0, 1.0, 0.0, 0.0),
        vec4(0.0, 0.0, 1.0, 0.0 ),
        vec4(x, y, z, 1.0 )
    );
}


mat4 scale(float x, float y, float z)
{
    return mat4(
        vec4(  x, 0.0, 0.0, 0.0 ),
        vec4(0.0,   y, 0.0, 0.0 ),
        vec4(0.0, 0.0,   z, 0.0 ),
        vec4(0.0, 0.0, 0.0, 1.0 )
    );
}

vec4 interpolate(vec4 v0, vec4 v1, vec4 v2, vec4 v3)
{
    vec4 a = mix(v0, v1, gl_TessCoord.x);
    vec4 b = mix(v2, v3, gl_TessCoord.x);
    return mix(a, b, gl_TessCoord.y);
}

vec4 interpolate(vec4 v0, vec4 v1, vec4 v2)
{
    float u = gl_TessCoord.x;
    float v = gl_TessCoord.y;
    float w = gl_TessCoord.z;

    vec3 point = (v0 * u + v1 * v + v2 * w).xyz;
    return vec4(point, 1.0);
}

void main(){
    normal = vec3(interpolate(
        vec4(norm[0], 1.0),
        vec4(norm[1], 1.0),
        vec4(norm[2], 1.0),
        vec4(norm[3], 1.0)
    ));
    // vertPos = vert_data;
    float time = iTime;

    vec4 p = interpolate(
        gl_in[0].gl_Position,
        gl_in[1].gl_Position,
        gl_in[2].gl_Position,
        gl_in[3].gl_Position
    );

    mat4 view = (
        translate(obj.position.x, obj.position.y, obj.position.z) *
        scale(obj.scale.x, obj.scale.y, obj.scale.z) *
        rotateZ(radians(obj.rotation.z)) *
        rotateY(radians(obj.rotation.y)) *
        rotateX(radians(obj.rotation.x)) *
        translate(obj.axis.x, obj.axis.y, obj.axis.z) *
        1
    );

    mat4 aaaap = projection_matrix;
    gl_Position = projection_matrix * view * p;
}